@import url(fonts.css);
/* CSS Document */
input {
  outline: none; }

*:focus {
  outline: none; }

.styleRadio {
  margin: 0;
  padding: 0;
  border: 0; }

#wrapperCP {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  background-color: white; }
  #wrapperCP #containerCP {
    width: 800px;
    margin: 0 auto;
    min-height: 720px;
    height: auto;
    background-color: #f3f1f1; }
    #wrapperCP #containerCP #innerContainerCP {
      margin: 10px; }

#topCP .InsideTopCP {
  display: inline-block;
  vertical-align: top; }
#topCP #wcandidateImageCP {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 10px; }
  #topCP #wcandidateImageCP #candidateImageCP {
    max-height: 100%;
    max-width: 100%; }
  #topCP #wcandidateImageCP #candidateImageCP:hover {
    cursor: pointer; }
#topCP #wpartyImageCP {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 10px; }
  #topCP #wpartyImageCP #partyImageCP {
    max-height: 100%;
    max-width: 100%; }
  #topCP #wpartyImageCP #partyImageCP:hover {
    cursor: pointer; }
#topCP #candidateDetailsCP {
  width: 570px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 20px 10px; }
  #topCP #candidateDetailsCP > p {
    padding: 0;
    margin: 0;
    border: 0; }
  #topCP #candidateDetailsCP #nameCP {
    font: normal normal 600 14pt/normal "hattori_hanzolight";
    color: #7c7878; }
  #topCP #candidateDetailsCP #partyNameCP {
    margin: 0 2px;
    font: normal normal 100 12pt/normal "hattori_hanzolight";
    color: #c2bfbf; }
  #topCP #candidateDetailsCP #educationCP, #topCP #candidateDetailsCP #genderCP {
    font: normal normal 100 12pt/normal "hattori_hanzolight";
    color: #c2bfbf; }
  #topCP #candidateDetailsCP #supporterCP #supporterButton {
    background-color: white;
    color: #464647;
    border: 1px solid #999;
    font: normal normal 100 9pt/normal "ralewaylight";
    font-weight: 500;
    margin-left: 5px;
    -webkit-transition: background-color  0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color  0.5s;
    transition: background-color  0.5s; }
  #topCP #candidateDetailsCP #supporterCP #supporterButton:hover {
    cursor: pointer;
    background-color: #f9fad0; }
  #topCP #candidateDetailsCP #supporterCP > span:not(:last-child) {
    font: normal normal 100 9pt/normal "ralewaylight"; }

/**---------------------------------------------------------------------bottom------------------------------------**/
#bottomCP {
  width: auto;
  min-height: 400px;
  height: auto;
  border-top: 1px solid #949393;
  padding-top: 5px; }

/** ------------------------------------------------------------------------ left side of bottom -------------------------------------------**/
#leftCP {
  display: inline-block;
  height: auto;
  width: 510px; }

.ContainerCP {
  padding: 10px;
  border-spacing: 0; }

.BoxContentCP {
  font: normal normal 100 12pt/normal "ralewaylight";
  color: #6d93ff;
  padding: 5px;
  text-align: center; }

.BoxSettingCP {
  background-color: white;
  width: inherit;
  min-height: 50px;
  height: auto; }
  .BoxSettingCP th:not(:last-child), .BoxSettingCP td:not(:last-child) {
    border-right: 1px solid #f3f1f1; }

#firstBoxCP .FirstBoxTitle {
  width: 170px;
  font: normal normal 100 13pt/normal "ralewaylight";
  color: #656060;
  text-align: center; }

#secondBoxCP {
  margin-top: 10px; }
  #secondBoxCP .SecondBoxTitle {
    width: 255px;
    font: normal normal 100 13pt/normal "ralewaylight";
    color: #656060; }

#thirdBoxCP {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 5px;
  width: 510px;
  min-height: 50px;
  height: auto;
  background-color: white; }
  #thirdBoxCP > p {
    font: normal normal 100 13pt/normal "ralewaylight";
    color: #656060;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center; }

/**-----------------------------------------------------------right side of bottom----------------------------------**/
#rightCP {
  width: 255px;
  height: 400px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  background-color: white;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 5px; }
  #rightCP #recentPhotos {
    width: auto;
    height: 230px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    border-bottom: 1px solid #f3f1f1; }
  #rightCP #recentArticles {
    padding: 5px;
    height: 170px;
    width: auto;
    max-width: 255px;
    word-break: break-all;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box; }
  #rightCP #recentArticles > p:not(:last-child), #rightCP #recentPhotos > p:not(:last-child) {
    font: normal normal 100 13pt/normal "ralewaylight";
    color: #656060;
    padding: 0;
    margin: 0;
    border: 0; }

#imageFrame {
  width: auto;
  height: 140px;
  margin: 0 auto;
  overflow: hidden; }

#slides {
  position: relative;
  height: inherit; }

#slides img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: -150px;
  top: 0px;
  z-index: 1;
  opacity: 0;
  /* animation */
  transition: all linear 400ms;
  -o-transition: all linear 400ms;
  -moz-transition: all linear 400ms;
  -webkit-transition: all linear 400ms; }

#slides img:target {
  left: 0px;
  top: 0px;
  z-index: 5;
  opacity: 5; }

/**------------------------------------------------------------reviews-------------------------------------------------------**/
#writeReviewCP {
  width: inherit;
  margin-top: 10px; }
  #writeReviewCP > p {
    font: normal normal 400 14pt/normal "hattori_hanzolight";
    color: #656060; }
  #writeReviewCP > p #reviewCountCP {
    margin: 0 2px; }

#reviewWrapperCP {
  width: 600px;
  margin: 0 auto; }
  #reviewWrapperCP > p {
    padding: 0;
    margin: 0 0 5px 0;
    border: 0;
    font: normal normal 400 13pt/normal "hattori_hanzolight";
    color: #656060; }
  #reviewWrapperCP > p #pencil {
    font-size: 14pt;
    color: #6d93ff;
    margin-left: 5px; }
  #reviewWrapperCP #reviewContainerCP {
    width: 600px;
    height: 60px;
    outline: 0;
    border: 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    font: normal normal 100 12pt/normal "hattori_hanzolight";
    resize: none;
    display: inline-block; }
  #reviewWrapperCP #radioBoxCP label {
    font: normal normal 100 12pt/normal "hattori_hanzolight";
    color: #999999; }
  #reviewWrapperCP #postButton {
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #999;
    font: normal normal 100 12pt/normal "hattori_hanzolight";
    color: #464647;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: background-color  0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color  0.5s;
    transition: background-color  0.5s; }
  #reviewWrapperCP #postButton:hover {
    cursor: pointer;
    background-color: #f9fad0; }

#otherReviewsWrapperCP {
  width: 600px;
  margin: 10px auto 0 auto;
  border-top: 1px solid #949393;
  min-height: 10px;
  height: auto; }
  #otherReviewsWrapperCP #otherReviewsContainerCP {
    margin-top: 10px;
    height: auto;
    width: inherit;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 5px;
    background-color: white; }
    #otherReviewsWrapperCP #otherReviewsContainerCP .insideORC {
      width: 200px;
      text-align: center; }
    #otherReviewsWrapperCP #otherReviewsContainerCP th:not(:last-child) {
      border-right: 1px solid #f3f1f1; }
  #otherReviewsWrapperCP #containerEffect {
    height: 40px;
    margin-bottom: 10px; }
    #otherReviewsWrapperCP #containerEffect .DownTriangle {
      width: 0;
      height: 0;
      border-top: 30px solid white;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      position: relative;
      left: 85px; }

.insideCE {
  width: 190px;
  display: inline-block; }

.insideORC button {
  background: transparent;
  border: 0;
  font: normal normal 400 13pt/normal "hattori_hanzolight";
  color: #656060; }

.insideORC > button:hover {
  color: #6d93ff;
  cursor: pointer;
  text-shadow: 1px 1px 2px #f3f1f1;
  border: 0; }

#bottomOtherReviewsCP {
  margin-bottom: 10px;
  height: 10px; }

/**---------------------------------------------------------------------reviews -----------------------------------**/
.Reviews {
  width: inherit;
  margin: 0 auto 5px auto;
  min-height: 60px;
  height: auto;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  background-color: white; }
  .Reviews .LeftOfReviews {
    display: inline-block;
    width: 100px;
    min-height: 50px;
    height: auto;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 5px;
    background-color: #d7e7d0; }
  .Reviews .IncreasePoints {
    width: 0;
    height: 0;
    border-bottom: 15px solid #999999;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin: 5px auto 5px auto; }
  .Reviews .IncreasePoints:hover {
    border-bottom: 15px solid #6d93ff; }
  .Reviews .DecreasePoints {
    width: 0;
    height: 0;
    border-top: 15px solid #999999;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin: 5px auto 5px auto; }
  .Reviews .DecreasePoints:hover {
    border-top: 15px solid #6d93ff; }
  .Reviews .Points {
    font: normal normal 100 12pt/normal "hattori_hanzolight";
    color: #999999;
    text-align: center; }
  .Reviews .Points > span {
    font: normal normal 100 12pt/normal "hattori_hanzolight";
    color: #999999; }
